doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title #{title}
    link(rel='stylesheet', href='/css/main.css')
  body
    #wrapper
      input(type="search" name="search" placeholder="Enter keyword to search")
      span Data fetching from jsonplaceholder open #[a( href='http://google.com' target="_blank" ) api]. Check console for logs.
    #search-result
      div
        | "laudantium enim quasi est quidem magnam voluptate ipsam eos\ntempora quo necessitatibus\ndolor quam autem quasi\nreiciendis et nam sapiente accusantium" <br/> -by ('abc@example.com')


