doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title #{title}
    link(rel='stylesheet', href='/css/main.css')
  body
    #wrapper
      input(type="search" id="search" name="search" placeholder="Enter keyword to search")
      span Data fetching from jsonplaceholder open #[a( href='http://google.com' target="_blank" ) api]. Check console for logs.
    #search-result

    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js")
    script(src="js/main.js")
